/* all app scss styles here */

@import "compass/css3";
@import "compass/utilities";






// Variables

$primary-color: #0a71b4;    //blue
$secondary-color: #424242;  // dark-grey
$alert-color: #bd0926;      // red aa0000
$row-light-grey: #F9F9F9;
$light-grey: #ececed;       // light-grey
$middle-grey: #ccc;
$dark-grey: #222;




// General & Resets

h1 {
  text-align: left;
  font-weight: 500;
  color: $dark-grey;
  font-size: rem-calc(30);
  span {
    font-size: rem-calc(14);
  }
}

a {
  color: $middle-grey;
  &:hover, &.current{
    color: $primary-color;
  }
}

hr {
  display: none;
  visibility: hidden;
}

table {
  border: none;
  border-spacing: 0;
  tr {
  	td:first-child {
  		min-width: 220px;
  	}
  }
}

td {
  border: none;
}

ul {
	margin: 0;
}




body {
  background: white;
}


.wrap {
  display: table;
}


.main-nav {
  display: table-cell;
  min-width: 14rem;
  padding: 1rem 1.2rem;
  ul {
    list-style: none;
    li {
      font-size: rem-calc(14);
      font-weight: 400;
    	a {
    		padding-left: 1rem;
    		&:hover, &.current {
    			background: url(../images/active.svg) 0px center no-repeat;
    			background-size: auto 70%;
    		}
    	}
    }
  	li.nav-title {
  	  font-weight: 500;
  	  font-size: rem-calc(20);
  	  margin-top: 0.6rem;
      &:first-child {
        margin-top: 0;
      }
  	  a {
  	  	color: $dark-grey;
  	  	padding-left: 0rem;
  	  	&:hover, &.current {
  	  		background: none;
          color: $primary-color;
  	  	}
  	  }	
	}
	.nav-title + .nav-title {
		margin-top: 0;
	}
  }
	
}

.container {
  display: table-cell;
  background: $light-grey;
  min-width: 100rem;
  padding: 0.5rem 1rem;
}



.main-table{
  border-spacing: 0;
  td {
    border-right: 1px solid rgba(black,0.05);
    border-bottom: 1px solid rgba(black,0.02);
  }
}


.collapse-parent{
	td:first-child{
    cursor: pointer;
	  background-image: url(../images/plus.svg);
	  background-position: 150% center;
	  background-repeat: no-repeat;
	  background-size: 60% 60%;
	}
	&.visible td:first-child{
	  background-image: url(../images/minus.svg);
	  background-position: 150% center;
	  background-repeat: no-repeat;
	  background-size: 60% 60%;
	}
}


.darken {
  background: rgba(black,0.1);
}

.primary-color {
	background: $primary-color !important;
	td {
		color: white;
	}
	.darken {
		background: rgba(black,0.4);
	}

}

.secondary-color {
	@extend .primary-color; 
  	background: $secondary-color !important;
}


.negative,  .secondary-color .negative, .primary-color .negative {
  background: $alert-color;
  &.darken{
  	background: darken($alert-color,10%);
  }
}

.hidden-column, .hidden-row {
  display: none;
}

.hidden-row.visible {
  display: table-row;
}


.summeprojekte td{
	color: $primary-color;
  background: white;
  &.darken {
    background: rgba(black,0.1);
  }
}

