/* all app scss styles here */

@import "compass/css3";
@import "compass/utilities";








$primary-color: #0a71b4;    //blue
$secondary-color: #424242;  // dark-grey
$alert-color: #bd0926;      // red aa0000
$row-light-grey: #F9F9F9;
$light-grey: #ececed;       // light-grey
$middle-grey: #ccc;
$dark-grey: #222;


@mixin darken-bg($color, $amount){
  background: darken($color,$amount);
}




// General & Resets

h1 {
  text-align: left;
  font-weight: 500;
  color: $dark-grey;
}

a {
  color: $middle-grey;
  &:hover, &:active {
    color: $primary-color;
  }
}

hr {
  display: none;
  visibility: hidden;
}

table {
  border: none;
  border-spacing: 0;
}

td {
  border: none;
}

ul {
	margin: 0;
}








body {
  background: white;
}


.wrap {
  display: table;
}


.main-nav {
  display: table-cell;
  min-width: 14rem;
  padding: 0 1rem;
  ul {
    list-style: none;
  }
}

.container {
  display: table-cell;
  background: $light-grey;
  min-width: 100rem;
  padding: 1rem;
}

.nav-title {
  font-weight: 500;
  font-size: rem-calc(22);
  a { color: $dark-grey; }	
}


.main-table{
  border-spacing: 0;
  td {
    border-right: 1px solid rgba(black,0.1);
  }
}

// .f-hidden, .a-hidden {
//   display: none;
//   &.visible {
//     display: table-row;
//   }
// }

.collapse-parent td:first-child{
  background: orange;
}


// tr:nth-of-type(even){
// 	background: $row-light-grey;
// 	td{
// 		&.darken{
// 			@include darken-bg($row-light-grey, 10%);
// 		}
// 	}
// }

// tr:nth-of-type(even).secondary-color td {
//   &.darken{
//     @include darken-bg($secondary-color, 15%);
//   }	
// }

// tr:nth-of-type(even).primary-color td {
//   &.darken{
//     @include darken-bg($primary-color, 15%);
//   }	
// }


.secondary-color td {
  background: $secondary-color;
  color: white; 
  &.darken{
    @include darken-bg($secondary-color, 15%);
  }
}

.primary-color td {
  background: $primary-color;
  color: white; 
  &.darken{
    @include darken-bg($primary-color, 15%);
  }
}




// .primary-color + .primary-color {
//   td {
//     background: white;
//     color: black;
//     &.darken{
//       @include darken-bg(white, 15%);
//     }
//   }
// }




.darken {
  @include darken-bg(white, 10%);
}


.red,  .secondary-color .red, .primary-color .red {
  background: $alert-color;
  &.darken{
  	@include darken-bg($alert-color, 10%);
  }
}

.hidden-column, .hidden-row {
  display: none;
}

.hidden-row.visible {
  display: table-row;
}



