<HTML>
MENU:
<BR>
<BR>
 <A HREF="FEINHEIT_TO.htm" TARGET="ViewFrame">Total</A>
<BR>
&nbsp;&nbsp; <A HREF="FEINHEIT_60_GRAFIK.htm" TARGET="ViewFrame">Grafik</A>
<BR>
&nbsp;&nbsp;&nbsp;&nbsp; <A HREF="FEINHEIT_61_BP.htm" TARGET="ViewFrame">Boris Périsset</A>
<BR>
&nbsp;&nbsp;&nbsp;&nbsp; <A HREF="FEINHEIT_62_DBO.htm" TARGET="ViewFrame">Diego Borellini</A>
<BR>
&nbsp;&nbsp;&nbsp;&nbsp; <A HREF="FEINHEIT_63_LM.htm" TARGET="ViewFrame">Lisa Müller</A>
<BR>
&nbsp;&nbsp;&nbsp;&nbsp; <A HREF="FEINHEIT_64_WG.htm" TARGET="ViewFrame">Wesllen Geschwind</A>
<BR>
&nbsp;&nbsp; <A HREF="FEINHEIT_65_DEV.htm" TARGET="ViewFrame">Programmierung</A>
<BR>
&nbsp;&nbsp;&nbsp;&nbsp; <A HREF="FEINHEIT_72_MK.htm" TARGET="ViewFrame">Matthias Kestenholz</A>
<BR>
&nbsp;&nbsp;&nbsp;&nbsp; <A HREF="FEINHEIT_71_UB.htm" TARGET="ViewFrame">Urs Breton</A>
<BR>
&nbsp;&nbsp;&nbsp;&nbsp; <A HREF="FEINHEIT_70_SB.htm" TARGET="ViewFrame">Simon Bächler</A>
<BR>
&nbsp;&nbsp;&nbsp;&nbsp; <A HREF="FEINHEIT_69_DAB.htm" TARGET="ViewFrame">Dan Büschlen</A>
<BR>
&nbsp;&nbsp;&nbsp;&nbsp; <A HREF="FEINHEIT_68_SD.htm" TARGET="ViewFrame">Subaida Dibs</A>
<BR>
&nbsp;&nbsp;&nbsp;&nbsp; <A HREF="FEINHEIT_67_FG.htm" TARGET="ViewFrame">Fabian Germann</A>
<BR>
&nbsp;&nbsp;&nbsp;&nbsp; <A HREF="FEINHEIT_66_NH.htm" TARGET="ViewFrame">Niklaus Hug</A>
<BR>
&nbsp;&nbsp; <A HREF="FEINHEIT_79_PL.htm" TARGET="ViewFrame">Projektmanagement</A>
<BR>
&nbsp;&nbsp;&nbsp;&nbsp; <A HREF="FEINHEIT_80_MH.htm" TARGET="ViewFrame">Martina Heeb</A>
<BR>
&nbsp;&nbsp;&nbsp;&nbsp; <A HREF="FEINHEIT_81_MG.htm" TARGET="ViewFrame">Moritz Gerber</A>
<BR>
&nbsp;&nbsp;&nbsp;&nbsp; <A HREF="FEINHEIT_82_HS.htm" TARGET="ViewFrame">Hannes Schwarz</A>
<BR>
&nbsp;&nbsp;&nbsp;&nbsp; <A HREF="FEINHEIT_83_SW.htm" TARGET="ViewFrame">Simone Wasmann</A>
<BR>
&nbsp;&nbsp; <A HREF="FEINHEIT_73_B&A.htm" TARGET="ViewFrame">Beratung & Akquise</A>
<BR>
&nbsp;&nbsp;&nbsp;&nbsp; <A HREF="FEINHEIT_74_RB.htm" TARGET="ViewFrame">Rolando Baron</A>
<BR>
&nbsp;&nbsp;&nbsp;&nbsp; <A HREF="FEINHEIT_76_CG.htm" TARGET="ViewFrame">Chantal Genoud</A>
<BR>
&nbsp;&nbsp;&nbsp;&nbsp; <A HREF="FEINHEIT_77_SG.htm" TARGET="ViewFrame">Stephan Germann</A>
<BR>
&nbsp;&nbsp;&nbsp;&nbsp; <A HREF="FEINHEIT_78_TG.htm" TARGET="ViewFrame">Tobias Günter</A>
<BR>
&nbsp;&nbsp;&nbsp;&nbsp; <A HREF="FEINHEIT_75_PS.htm" TARGET="ViewFrame">Patrik Schmid</A>
<BR>
</HTML>
